/* Flex */
.flex {
    display: flex;
}


.items-center {
    align-items: center;
}

/* End Of Flex */

.block {
    display: block;
}

/* Margins and Paddings */
.mr-20 {
    margin-right: 1.25rem;
}


.ml-4 {
    margin-left: 0.25rem;
}
/* End Of Margins and Paddings */

/* Text */
.text-center {
    text-align: center;
}

.font-light-12 {
    font-weight: 300;
    font-size: 0.75rem;
}
/* End of Text */

/* Media Queries */

.hide-block-sm, .hide-flex-sm {
    display: none;
}

@media (min-width: 768px) {
    .hide-block-sm {
        display: block;
    }

    .hide-flex-sm {
        display: flex;
    }
}

@media (min-width: 992px) {
    
}
