.panel {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 0.5rem;
    background-color: #FFFFFF;
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-full {
    height: 100%;
}

/* Borders */

.b-0 {
    border: 0;
}

.outline-0 {
    outline: 0;
}

/* Flex */
.flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

/* End Of Flex */

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* grid */

/* Margins and Paddings */
.m-auto {
    margin: auto;
}

.m-30 {
    margin: 1.875rem;
}

.mr-8 {
    margin-right: 0.5rem;
}

.mr-16 {
    margin-right: 1rem;
}

.mr-20 {
    margin-right: 1.25rem;
}

.mr-22 {
    margin-right: 22px;
}

.mr-30 {
    margin-right: 1.875rem;
}

.ml-4 {
    margin-left: 0.25rem;
}

.mt-16 {
    margin-top: 1rem;
}

.mt-30 {
    margin-top: 1.875rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-30 {
    margin-bottom: 1.875rem;
}

.p-20 {
    padding: 1.25rem;
}

.p-30 {
    padding: 1.875rem;
}

.px-20 {
    padding: 0 1.25rem;
}

/* End Of Margins and Paddings */

/* Text */
.text-center {
    text-align: center;
}

.font-22 {
    font-size: 22px;
    line-height: 26px;
}

.font-light-12 {
    font-weight: 300;
    font-size: 0.75rem;
}
/* End of Text */

/* Background-colors */

.bg-white {
    background-color: #FFFFFF;
}

/* Media Queries */

.hide-block-sm,
.hide-flex-sm,
.show-block-xl {
    display: none;
}

/*
    sm = mobile 0px - 767px
    md = tablet 768px - 991px
    lg = desktop 992px - 1200
    xl = large desktop 1200px and above
*/

@media (min-width: 768px) {
    .hide-block-sm {
        display: block;
    }

    .hide-flex-sm {
        display: flex;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    .show-block-xl{
        display: block;
    }
}
