@import './commons.css';
@import './icons.css';

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #F9F9F9;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}

.container {
    padding: 16px;
    background: #F9F9F9;
    max-width: 1400px;
    margin: auto;
}

.container .appHeader {
    height: 62px;
    padding: 0 20px;
}

.filterBox {
    width: 310px;
}

.filterBox hr {
    border: 0;
    height: 1px;
    background-color: #D6D6D6;
}

.appHeaderRight {
    margin: auto;
}

.settingsBar {
    height: 62px;
    padding: 0 20px;
    justify-content: space-between;
    margin-top: 15px;
}

.profile-img img {
    border-radius: 17px;
    width: 34px;
    height: 34px;
}

.text-link {
    cursor: pointer;
    color: #7E72F2;
    font-size: 17px;
    text-decoration: none;
}

.settingsIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #7E72F2;
}

.searchBar {
    padding: 15px 30px;
}

.settingsIcon img {
    margin: auto;
}

.item {
    padding-bottom: 45px;
}

.item .itemPicture {
    padding: 20px 100px;
}

.item .itemPicture img {
    width: 100%;
}

.itemControls {
    bottom: 0px;
}

.itemControls div {
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

.itemControls div i {
    margin: auto 0.5rem auto 0;
}

.itemControls .wishlist {
    background-color: #EDEDED;
    border-radius: 0 0 0 0.5rem;
}

.itemControls .addCart {
    background-color: #6F64F8;
    border-radius: 0 0 0.5rem 0;
    color: #FFF;
}

.rateTag {
    background-color: #6F64F8;
    color: #FFF;
    padding: 4px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.rateTag i {
    margin-top: -3px;
}

.itemDescription p {
    padding: 0;
}

.itemDescription .name {
    margin: 14px 0 4px;
}

.itemDescription .description {
    margin: 0 0 20px;
}

.itemsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

@media (min-width: 550px) {
    .itemsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .item .itemPicture {
        padding: 20px 50px;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 20px;
    }

    .appHeaderRight {
        margin: 0;
    }

    .itemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .container {
        padding: 33px;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 33px;
    }

    /* .item .itemPicture {
        height: 250px;
    } */

    .itemsContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
